@charset "utf-8";
/* CSS Document */

body,td,th {
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
	color: #333333;
	border: 0px;
	padding: 0px;
	margin:0px;
	border-spacing:0px;
}
h1 {
	font-size: 32px;
}
h2 {
	font-size: 22px;
}
h3 {
	font-size: 16px;
}
h4 {
	font-size: 12px;
}
h5 {
	font-size: 10px;
	line-height:20px;
}
a:link {
	color: #C60505;
	text-decoration: none;
}
a:visited { color: #333333;}

.page {
	padding: 40px 40px;
	margin:0;
	width: 842px;
	height: 595px;
/*background-color:#D8D5D5;*/
	border:2px solid  #0C72BC;
	}
.couv1 {
	background-image:url(images/couv1.jpg);
	}	
.couv4 {
	background-image:url(images/couv4.jpg);
	background-size:contain;
	}	
	
		
	
/* --- LES MARGES --- */

.marge {
/*background-color:#F4D3D3;*/
	width:100%;
	height:355px;
	}
	
.margeT30 {
	margin-top:30px;
	}
.margeT50 {
	margin-top:50px;
	}
.margeT90 {
	margin-top:90px;
	}
.margeT-50 {
	margin-top:-50px;
	}
.margeT-30 {
	margin-top:-30px;
	}
	
.alignTop {
	valign:top;
	vertical-align:top;
	}	
.alignMiddle {
	valign:middle;
	vertical-align:middle;
	}
.alignBottom {
	valign:bottom;
	vertical-align: bottom;
	}

	
/* --- LES TEXTES --- */

#Titre {
	position:absolute;
	top: 45px;
	left: 45px;
	}		
.titre {
	font-weight:100;
	text-transform:uppercase;
	}	
.text-right {
	text-align:right;
	}
.text-center {
	text-align: center;
	}
.text-left {
	text-align: left;
	}

.colorB {
	color:#FFFFFF;
	}		
.colorN {
	color:#000000;
	}	
.NDI{
	color:#0C72BC;
	}
	
p[SFR]{
	color:#0C72BC;
	}	


/* --- LES TABLEAUX ---	*/
table {
	border:0;
	cellspacing:0; 
	cellpadding:0;
	}
tr{
	valign:top;
	vertical-align:top;
	}
td{
	padding:0 5px;
	}
	
#contexte{
	float:left;
	width:400px;
	}	
#contexte table{
	width:100%;
	}
#contexte td{
	padding: 3px 10px;
	}	
#contexte tr:nth-child(even) td{
	background-color:#E0E0E0;
	}
#contexte td:nth-of-type(3)
	{
	text-align:right;
	}
#contexte th{
	background-color:#CCCCCC;
	text-align:left;
	padding: 3px 10px;
	}
#contexte th:nth-of-type(2)
	{
	text-align:right;
	}
	
	
#contexteConclusion {
	float:left;
	width:500px;
	}	
#contexteConclusion table{
	width:100%;
	}
#contexteConclusion td{
	padding: 3px 10px;
	}	
#contexteConclusion tr:nth-child(even) td{
	background-color:#E0E0E0;
	}
#contexteConclusion td:nth-of-type(2)
	{
	text-align:right;
	}
#contexteConclusion th{
	background-color: #CCCCCC;
	text-align:left;
	padding: 3px 10px;
	}
#contexteConclusion th:nth-of-type(2)
	{
	text-align:right;
	}



#projet1 {
	float: right;
	width:340px;
	}
#projet1 table{
	width:100%;
	}
#projet1 td{
	padding: 3px 10px;
	}
#projet1 tr:nth-child(even) td{
	background-color:#D9F4D9;
	}
#projet1 td:nth-of-type(2)
	{
	text-align:right;
	}
#projet1 th{
	background-color: #80DA80;
	text-align:left;
	padding: 3px 10px;
	}
img.clic {
	margin: -9px -9px;
	}
#projet1 th:nth-of-type(2)
	{
	text-align:right;
	}
	
	
	
#projet1Conclusion {
	float:left;
	width:500px;
	}
#projet1Conclusion table{
	width:100%;
	}
#projet1Conclusion td{
	padding: 3px 10px;
	}
#projet1Conclusion tr:nth-child(even) td{
	background-color:#D9F4D9;
	}
#projet1Conclusion td:nth-of-type(2)
	{
	text-align:right;
	}
#projet1Conclusion th{
	background-color: #80DA80;
	text-align:left;
	padding: 3px 10px;
	}
#projet1Conclusion th:nth-of-type(2)
	{
	text-align:right;
	}
	
	
#Mobile p{
	width:150px;
	padding:5px 10px;
	border:3px solid #CF0003;
	text-align:center;
	}
#Mobile a:link {
	color: #000000;
	text-decoration: none;
}	


#CAP {
	float: right;
	width:180px;
}

#CAP p{
	width:150px;
	padding:5px 10px;
	border:3px solid  #0C72BC;
	font-weight:bold;
	text-align:center;
	}
#CAP a:link {
	color: #0C72BC;
	text-decoration: none;
}	
#CAP img {
	width:170px;
	padding:0;
	border:0px;
	
}
#CAP img.cap {
	width:170px;
	padding:0;
	border:3px solid  #0C72BC;
	
}

#Test td{
	text-align:center;
	font-size: 10px;
	
}

	
#contexteConclusion {
	float:left;
	width:500px;
	}	
#contexteConclusion table{
	width:100%;
	}
#contexteConclusion td{
	padding: 3px 10px;
	}	
#contexteConclusion tr:nth-child(even) td{
	background-color:#E0E0E0;
	}
#contexteConclusion td:nth-of-type(2)
	{
	text-align:right;
	}
#contexteConclusion th{
	background-color: #CCCCCC;
	text-align:left;
	padding: 3px 10px;
	}
#contexteConclusion th:nth-of-type(2)
	{
	text-align:right;
	}
	


#Package{
	float:left;
	width:230px;
	margin-right:10px;
	}	
#Package table{
	width:100%;
	}
#Package td{
	padding: 3px 10px;
	border-bottom:1px solid #0C72BC;
	}	
#Package th{
	background-color:#E0E0E0;
	text-align:center;
	padding: 3px 10px;
	}
	
	
	
#Couv4 h1{
	font-size: 24px;
	color:#0C72BC;
	text-align:center;
	text-transform:uppercase;
	}
#Couv4 h2{
	font-size: 16px;
	text-align:center;
	}	


#Commercial {
/*	background-color:#946162;*/
	width:300px;
	text-align:center;
	position:absolute;
	top: 390px;
	left: 30px;
	}
#Commercial h2{
	font-size: 16px;
	}
#Commercial h4{
	color:#0C72BC;
	text-transform:uppercase;
	}
#Commercial a:link{
	color: #333333;
	text-decoration: none;
}
#Commercial img{
	width:250px;
}


#Slogan {
/*	border:2px solid  #0C72BC;*/
	color: #FFFFFF;
	width:230px;
	text-align:center;
	position:absolute;
	top: 335px;
	left:420px;
	}
#Slogan h1{
	font-size:28px;
	}
#Slogan p{
	font-size:11px;
	}	
#Slogan a:link{
	color: #000000;
	text-decoration: none;
	}
	
/* ---LES LARGEURS / HAUTEURS ---	*/
	
.Tier {
	width:33.3%;
	}
.Quart {
	width:25%;
	}
.Demi {
	width:50%;
	}	
.L200 {
	width:200px;
	}	
		


.H30 {
	height:30px;
	}	
.H128 {
	height:128px;
	}
.H150 {
	height:150px;
	}
.H200 {
	height:200px;
	}
.H200 {
	height:200px;
	}


/* ---LES FONDS ---	*/
.BgTitre {
	background-image:url(images/BgTitre.jpg);
	background-position:top;
	background-repeat:no-repeat;
	}
.BgCercleR {
	background-image:url(images/BgCercleR.jpg);
	background-position:center;
	background-repeat:no-repeat;
	}
.BgCercleV {
	background-image:url(images/BgCercleV.jpg);
	background-position:center;
	background-repeat:no-repeat;
	}
.BgCercleJ {
	background-image:url(images/BgCercleJ.jpg);
	background-position:center;
	background-repeat:no-repeat;
	}
.BgCercleB {
	background-image:url(images/BgCercleB.jpg);
	background-position:center;
	background-repeat:no-repeat;
	}

	
/* ---LES BAS DE PAGE ---	*/
.numPage {
	position:absolute;
	top: 500px;
	left: 700px;
	}	
img.logoBP {
	float:right;
	height:20px;
	}