@charset "utf-8";
/* CSS Document */

/* ================= General tags ================= */
html, body{
	height:100%;
	}
body {
	padding:0;
	background:url(../img/fondGlobacom.png) repeat;
	font-family:Helvetica, Arial, Tahoma, sans-serif;
	font-size:12px;
}
	.modal-content {
 
  overflow:auto;
}
h1 {
	color:#D30003;
	font-size:16px;
}
h2 {
	color:#000000;
	font-weight: bold;
	font-size:16px;
}
a {
	color:#333333;
}
a:hover {
	text-decoration: underline;
	color: #0C72BC;
}
p {
	margin-top:0.5em;
	color:#000000;
	font-size:12px;
	line-height:16px;
}
strong {
	font-weight:bold;
}
hr {
	color:#d1c8c3;
	background-color:#d1c8c3;
	height:3px;
	border:1px #d1c8c3;
	margin-top:20px;
}
.BgBlanc {
	background-color:#FFFFFF;
}


/* ================= Images ================= */
img.alignleft {
	display:block;
	float:left;
	margin:10px 16px 10px 0;
}
img.aligncenter {
	display:block;
	margin-left:auto;
	margin-right:auto;
}
img.alignright {
	display:block;
	float:right;
	margin:5px 0px 5px 11px;
}
img {
	border:0;
}

/* ================= Header Menu ================= */

.header {
	height:110px;
	background:url(../img/FondBande.jpg);
}
.header-menu {
	text-align:center;
	font-size:14px;
}
.header-menu ul {
	margin:0;
}
.header-menu li {
	display:block;
	margin:0;
	padding:0;
	z-index:10;
}
.main-menu li ul {
	padding-top:2px;
	left:-2px;
}

.header-menu a {
	display:block;
	font-size:14px;
	font-family:Helvetica, Arial, sans-serif;
	color: #333333;
	text-decoration:none;
}
.header-menu a:hover {
	text-decoration:none;
	color: #999999;
}
.header-menu > ul > li {
	float:left;
	margin-top:0px;
	margin-right:28px;
}
.header-menu li ul {
	display:none;
	top:100%;
	z-index:100;
}
.main-menu li:hover > ul {
	display:block;
}
.main-menu li ul li.submenu > a {
	padding-right:10px;
	background:#403830 url(images/submenu_left_arrow.png) no-repeat right;
}
.main-menu li ul li.submenu > a:hover {
	padding-right:10px;
	background:#f5f5f5 url(images/submenu_left_arrow.png) no-repeat right;
}
.main-menu li ul li {
	border-bottom:1px solid #f9f8f1;
	background:#FFF;
}
.main-menu li ul li a:hover {
	background: #FC3;
	color: #296690;
}
.main-menu li ul li:last-child {
	border-bottom:1px solid #f9f8f1;
}
.main-menu li ul li a {
	padding:0 25px 0 12px;
	line-height:33px;
	background:#2b7bb3;
}
.main-menu li ul li ul {
	top:-1px !important;
	left:100% !important;
	padding:0 !important;
}


/* ================= main ================= */
.formulaire
{
	line-height:30px;	
}

.PadTop
{
	padding-top:20px;	
}

.SFR
{
	color:#b2101f;	
}
.PrestaZen
{
	color:#93be2d;	
}
.borderRouge {
	border-width: 2px;
	border-color: #b2101f;
}
.NDI {
	color:#0C72BC;
}
.SPE {
	color:#b2101f;
}
.table-contexte {
	background-color:#999999;
	color:#FFFFFF;
	height:47px;
}
.table-projet {
	background-color:#dadada;
	color:#555555;
	height:47px;
}

.bg-projet1 {
	background-color:#ccf0cc;
	height:47px;
}
.bg-projet2 {
	background-color:#fbd981;
	height:47px;
}
.bg-projet3 {
	background-color:#7bbdfb;
	height:47px;
}
.table-height {
	height:47px;
}
.col-site {
	background-color:#d9edf7;
}
.nomfiche a {
	color:#694535;
}
.poubelle {
	background:url(images/Supprimer.png);
	border: none;
	width: 24px;
	height: 20px;
	cursor: pointer;
}

/* ================= Columns ================= */
.marges {
	margin-left:auto;
	margin-right:auto;
	max-width:940px;	
}
.Trait {
	border-right: 2px solid #d1c8c3;
	padding-left: 5px;
}
.centrer_col {
	float: none;
	margin-left:auto;
	margin-right:auto;
}
/* ================= Footer ================= */

.footer {
	background-color: #b2101f;
	height:85px;
	}
.mentions {
	padding:5px 100px 5px 0;
	text-align:right;
	color:#FFFFFF;
	font-size:9px;
}
.faq {
    padding:5px 100px 5px 0;
    padding-left: 100px;
	text-align:left;
	color:#FFFFFF;
	font-size:12px;
}
.text-danger p{
	color: #a94442;
}
.row fieldset{
	margin-left: 20px;
}
legend{
	color : #D30003;
}
/*Circle Info Suppl*/
.circle {
  margin: 36px;
  display: inline-block;
  padding: 16px;
  text-align: center;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  border: 2px solid #1d2087;
}

.circle::before,
.circle::after {
  position: absolute;
  z-index: -1;
  display: block;
  content: '';
}
.circle,
.circle::before,
.circle::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.circle {
  position: relative;
  z-index: 2;
  background-color: #fff;
  border: 2px solid #5c5eae;
  color: #5c5eae;
  line-height: 50px;
  overflow: hidden;
}

.circle:hover {
  color: #fff;
}
.circle::after {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-transform: scale(.5);
  transform: scale(.5);
}
.circle:hover::after {
  background: #5c5eae;
  border-radius: 50%;
  -webkit-transform: scale(.9);
  transform: scale(.9);
}

.circle1 {
  opacity: 0.4;
  border: 2px solid red;
}
.circle1:hover::after {
  background:red;
  border-radius: 50%;
  -webkit-transform: scale(.9);
  transform: scale(.9);
}

.circle2 {
  opacity: 0.6;
  border: 2px solid yellowgreen;
}
.circle2:hover::after {
  background:yellowgreen;
  border-radius: 50%;
  -webkit-transform: scale(.9);
  transform: scale(.9);
}

.circle3 {
  opacity: 0.8;
  border: 2px solid orange;
}
.circle3:hover::after {
  background:orange;
  border-radius: 50%;
  -webkit-transform: scale(.9);
  transform: scale(.9);
}

.circle a {
  text-decoration: none;
  color: #1d2087;
}

.circle h2 {
  font-size: 60px;
}

.circle h2 small {
  color: #1d2087;
}

.circle p {
  font-size: 24px;
  line-height: 26px;
}

.label{
	font-size: 100%;
}
.label-jaune{
background-color: #f4ec32;
}
.label-ndi{
	background-color: #c8257e;
}

#loading-div-background{
    /*display: none;*/
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5); 
    width: 100%;
    height: 100%;
   
}

#loading-div{
    width: 300px;
    height: 150px;
    background-color: #fff;
    border: 5px solid #1468b3;
    text-align: center;
    color: #202020;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -150px;
    margin-top: -100px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    
}
.center {
    display: block;
    margin: auto;
    width: 40%;
}