@charset "utf-8";
/* CSS Document */



h1, h2, h3, h4, h5, h6, p{
	font-family:Helvetica, Arial, sans-serif;
	color: #333333;
}

h1 {
	font-size: 40pt;
}
h2 {
	font-size: 30pt;
}
h3 {
	font-size: 18pt;
}
h4 {
	font-size: 20pt;
}
h5 {
	font-size: 12pt;
	line-height:20pt;
}
p {
	font-size: 16pt;
}
a:link {
	color: #C60505;
	text-decoration: none;
}
a:visited { color: #333333;}

.clear {
	clear:both;
	}
	
	


.colorB {
	color:#FFFFFF;
	}		
.colorN {
	color:#000000;
	}	
.NDI{
	color:#0C72BC;
	}
	
p[SFR]{
	color:#0C72BC;
	}		

		
	
/* --- LES MARGES --- */

.marge {
/*background-color:#F4D3D3;*/
	width:100%;
	}
.padd10 {
	padding: 25mm 10mm;
	}	
.margeT30 {
	margin-top:30px;
	}
.margeT50 {
	margin-top:50px;
	}
.margeT90 {
	margin-top:90mm;
	}
.margeT-50 {
	margin-top:-50px;
	}
.margeT-30 {
	margin-top:-30px;
	}


/* --- LES ALIGNEMENTS --- */	
.alignTop {
	valign:top;
	vertical-align:top;
	}	
.alignMiddle {
	valign:middle;
	vertical-align:middle;
	}
.alignBottom {
	valign:bottom;
	vertical-align: bottom;
	}
.text-right {
	text-align:right;
	}
.text-center {
	text-align: center;
	}
.text-left {
	text-align: left;
	}
	

	
/* --- LA COUVERTURE --- */
	
img.logoCouv {
	margin-top:10mm;
	height:250px;
	}
.couv1 {
	position:absolute;
	top:0;
	left:0;
	height:208.7mm;
	width:295.7mm;
	border:0.5mm solid #0C72BC;
	background-image:url(images/couv1.jpg);
	z-index:0;
	}	
.CouvTitre {
	position:fixed;
	top:70mm;
	}	
.CouvInfo {
	position:fixed;
	bottom:0mm;
	width:80mm;
	}		
.CouvClient {
	position:fixed;
	bottom:0mm;
	right:0mm;
	width:140mm;
	}
	
.couv4 {
	position:absolute;
	top:0;
	left:0;
	height:208.7mm;
	width:295.7mm;
	border:0.5mm solid #0C72BC;
	background-image:url(images/couv4.jpg);
	background-size:contain;
	z-index:0;
	}	
#Couv4 h1{
	font-size: 24px;
	color:#0C72BC;
	text-align:center;
	text-transform:uppercase;
	}
#Couv4 h2{
	font-size: 16px;
	text-align:center;
	}		

	
/* --- LES TITRES DE PARAGRAPHE --- */
#Titre {
	position:absolute;
	top:10mm;
	left:0;
	width:100%;
	height:40mm;
	background-image:url(images/BgTitre.jpg);
/*	background-color: #A25859;*/
	background-position:top;
	background-repeat:no-repeat;
	}				
.titre {
	margin:10mm 20mm;
	font-weight:300;
	text-transform:uppercase;
	}
#SousTitre {
	position:relative;
	top:0mm;
	left:0mm;
	height:35mm;
/*	background-color: #A25000;*/
	}		
#Content {
	position:relative;
	background-color: #A25859;
	}	


	
/* ---PAGE OPTIMISATION OBJECTIF ---	*/

.BgCercleR {
	background-image:url(images/BgCercleR.jpg);
 	background-position:center center;
	}
.BgCercleV {
	background-image:url(images/BgCercleV.jpg);
	background-position:center;
/*	background-repeat:no-repeat;*/
	}
.BgCercleJ {
	background-image:url(images/BgCercleJ.jpg);
	background-position:center;
	}
.BgCercleB {
	background-image:url(images/BgCercleB.jpg);
	background-position:center;
	}



/* --- PAGE PRESTATAIRE --- */
#Prestataire {
	float:left;
	width:130mm;
	margin-left:5mm;
/*	background-color:#6BDFA0;*/
	}
.Prestataire{
	font-size:13pt;
	}
img.Prestataire {
	height:50mm;
	}



/* --- PAGE CONTEXTE / PROJET ---	*/
#contexte{
	float:left;
	width:140mm;
	}	
#contexte table{
	width:140mm;
	font-family:Helvetica, Arial, sans-serif;
	font-size:11pt;
	color: #333333;
	}
#contexte td{
	padding: 1mm 4mm;
	}	
#contexte tr:nth-child(even) td{
	background-color:#E0E0E0;
	}
/*#contexte td:nth-of-type(3)
	{
	text-align:right;
	}*/
#contexte th{
	background-color:#CCCCCC;
	padding: 2mm 4mm;
	}
/*#contexte th:nth-of-type(2)
	{
	text-align:right;
	}*/
	

#projet1 {
	float: right;
	width:120mm;
	}
#projet1 table{
	width:120mm;
	font-family:Helvetica, Arial, sans-serif;
	font-size:11pt;
	color: #333333;
	}
#projet1 td{
	padding: 1mm 4mm;
	}
#projet1 tr:nth-child(even) td{
	background-color:#D9F4D9;
	}
#projet1 th{
	background-color: #80DA80;
	padding: 2mm 4mm;
	}
img.clic {
	margin: -9px -9px;
	}


	



/* --- LES TABLEAUX ---	*/
table {
	border:0;
	cellspacing:0; 
	cellpadding:0;
	}
tr{
	valign:top;
	vertical-align:top;
	}
td{
	padding:0 5px;
	}



	

	
#contexteConclusion {
	float:left;
	width:500px;
	}	
#contexteConclusion table{
	width:100%;
	}
#contexteConclusion td{
	padding: 3px 10px;
	}	
#contexteConclusion tr:nth-child(even) td{
	background-color:#E0E0E0;
	}
#contexteConclusion td:nth-of-type(2)
	{
	text-align:right;
	}
#contexteConclusion th{
	background-color: #CCCCCC;
	text-align:left;
	padding: 3px 10px;
	}
#contexteConclusion th:nth-of-type(2)
	{
	text-align:right;
	}




	
	
	
#projet1Conclusion {
	float:left;
	width:500px;
	}
#projet1Conclusion table{
	width:100%;
	}
#projet1Conclusion td{
	padding: 3px 10px;
	}
#projet1Conclusion tr:nth-child(even) td{
	background-color:#D9F4D9;
	}
#projet1Conclusion td:nth-of-type(2)
	{
	text-align:right;
	}
#projet1Conclusion th{
	background-color: #80DA80;
	text-align:left;
	padding: 3px 10px;
	}
#projet1Conclusion th:nth-of-type(2)
	{
	text-align:right;
	}
	
	
#Mobile p{
	width:150px;
	padding:5px 10px;
	border:3px solid #CF0003;
	text-align:center;
	}
#Mobile a:link {
	color: #000000;
	text-decoration: none;
}	


#CAP {
	float: right;
	width:180px;
}

#CAP p{
	width:150px;
	padding:5px 10px;
	border:3px solid  #0C72BC;
	font-weight:bold;
	text-align:center;
	}
#CAP a:link {
	color: #0C72BC;
	text-decoration: none;
}	
#CAP img {
	width:170px;
	padding:0;
	border:0px;
	
}
#CAP img.cap {
	width:170px;
	padding:0;
	border:3px solid  #0C72BC;
	
}

#Test td{
	text-align:center;
	font-size: 10px;
	
}

	
#contexteConclusion {
	float:left;
	width:500px;
	}	
#contexteConclusion table{
	width:100%;
	}
#contexteConclusion td{
	padding: 3px 10px;
	}	
#contexteConclusion tr:nth-child(even) td{
	background-color:#E0E0E0;
	}
#contexteConclusion td:nth-of-type(2)
	{
	text-align:right;
	}
#contexteConclusion th{
	background-color: #CCCCCC;
	text-align:left;
	padding: 3px 10px;
	}
#contexteConclusion th:nth-of-type(2)
	{
	text-align:right;
	}
	


#Package{
	float:left;
	width:230px;
	margin-right:10px;
	}	
#Package table{
	width:100%;
	}
#Package td{
	padding: 3px 10px;
	border-bottom:1px solid #0C72BC;
	}	
#Package th{
	background-color:#E0E0E0;
	text-align:center;
	padding: 3px 10px;
	}
	
	
	



#Commercial {
/*	background-color:#946162;*/
	width:300px;
	text-align:center;
	position:absolute;
	top: 390px;
	left: 30px;
	}
#Commercial h2{
	font-size: 16px;
	}
#Commercial h4{
	color:#0C72BC;
	text-transform:uppercase;
	}
#Commercial a:link{
	color: #333333;
	text-decoration: none;
}
#Commercial img{
	width:250px;
}


#Slogan {
/*	border:2px solid  #0C72BC;*/
	color: #FFFFFF;
	width:230px;
	text-align:center;
	position:absolute;
	top: 335px;
	left:420px;
	}
#Slogan h1{
	font-size:28px;
	}
#Slogan p{
	font-size:11px;
	}	
#Slogan a:link{
	color: #000000;
	text-decoration: none;
	}
	
/* ---LES LARGEURS / HAUTEURS ---	*/
	
.Tier {
	width:33.3%;
	}
.Quart {
	width:25%;
	}
.Demi {
	width:50%;
	}
.L75 {
	width:75mm;
	}
.L70 {
	width:70mm;
	}
.L40 {
	width:40mm;
	}
.L35 {
	width:35mm;
	}	
.L200 {
	width:200px;
	}	
		


.H30 {
	height:30px;
	}	
.H40 {
	height:40mm;
	}
.H100 {
	height:200m;
	}
.H128 {
	height:128px;
	}
.H150 {
	height:150mm;
	}
.H200 {
	height:200mm;
	}
.H300 {
	height:300px;
	}


	
/* ---LES BAS DE PAGE ---	*/
.FooterTable {
	width:100%;
	vertical-align: bottom; 
	font-family:Helvetica, Arial, sans-serif;
	text-align:right;
	line-height:20pt;
	font-size: 12pt; 
	color: #000000; 	
	}	
img.logoBP {
	vertical-align: bottom;
	float:right;
	height:30px;
	}
